<%- include('layout/header')   %>

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-primary">
                    <h3 class="text-light">Add New User</h3>
                </div>
                <div class="card-body p-4">
                    <form action="/add" method="post" id="add-form" enctype="multipart/form-data">
                        <div class="nb-3">
                            <label for="name">Name</label>
                            <input type="text" name="name" class="form-control form-control-lg" placeholder="Enter name" required>
                        </div>
                        <div class="nb-3">
                            <label for="email">Email</label>
                            <input type="email" name="email" class="form-control form-control-lg" placeholder="Enter email" required>
                        </div>
                        <div class="nb-3">
                            <label for="phone">Phone</label>
                            <input type="tel" name="phone" class="form-control form-control-lg" placeholder="Enter phone" required>
                        </div>
                        <div class="nb-3">
                            <label for="image" class="form-lable">Select Image</label>
                            <input type="file" name="image" class="form-control form-control-lg" required>
                        </div>
                        <div class="nb-3 d-grid">
                            <input type="submit" name="submit" class="btn btn-primary btn-lg" value="Add User">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('layout/footer')   %>